
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1481008441367'); /* IE9*/
  src: url('iconfont.eot?t=1481008441367#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1481008441367') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1481008441367') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1481008441367#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhankaijiantou:before { content: "\e691"; }

.icon-zhengque1:before { content: "\e66f"; }

.icon-clock:before { content: "\e662"; }

.icon-dianhua2:before { content: "\e615"; }

.icon-cuowu_6FA7F9:before { content: "\e609"; }

