html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, input, textarea, button, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;outline:0;font-size:100%;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;}
body, html {width:100; height:100%;}
body {font:14px/1.5 "Microsoft Yahei", "Open Sans", Arial, "Hiragino Sans GB", sans-serif; background:#f1eee9; -webkit-font-smoothing:antialiased; overflow:hidden;}
a {text-decoration:none;}
table {border-collapse:collapse; border-spacing:0;}
.postform {width:100%; font-size:14px;}
.postform td {padding:10px 5px; vertical-align:top; line-height:30px;}
.postform td:first-child {width:50px; text-align:right;}
.input, .select {border:1px solid #ccc; padding:3px;}
.btn {background:#349bf5; color:#fff; padding:5px 20px;}

.menu {width:50px; float:left; position:relative; z-index:1;}
.menu li a {display:block; text-align:center; line-height:40px; color:#666;}
.menu .active a {background:#fff; color:#0476d9; box-shadow:0 0 3px rgba(0,0,0,.1);}
.bd {margin-left:50px; height:100%; background:#fff; position:relative; z-index:2; overflow-x:hidden; overflow-y:auto;}
.list {padding:0 0 0 10px;}
.list li {border-bottom:.5px solid #ddd; padding:15px 10px 15px 5px;}
.list li:last-child {border:0;}
.call {width:40px; height:40px; text-align:center; line-height:40px; float:right; margin-top:4px;}
.call i {font-size:36px; vertical-align:middle; color:#0476d9;}
.local {margin-right:40px;}
.local span {display:inline-block; font-size:16px; line-height:24px;}
.arrow {margin:0 5px;}
.arrow i {vertical-align:1px;}
.meta {padding:0 0 10px; font-size:12px; color:#666; line-height:16px;}
.meta span {display:inline-block;}
.time {margin-right:10px; color:#0476d9;}
.time i {font-size:12px; margin-right:5px;}
.tag {background:#999; height:16px; line-height:16px; padding:0 10px; border-radius:8px; color:#fff; font-size:10px;}
.tag.active {background:#349bf5;}
.remark {font-size:12px; color:#999;}

.tip {width:60%; background:#fff; margin:50px auto 0 auto; padding:30px;}
.tip a {display:block;}
.tipicon {text-align:center;}
.tipicon i {font-size:60px;}
.tipicon.error {color:red;}
.tipicon.ok {color:#0476d9}
.tiptxt {text-align:center; font-size:18px; color:#000;}
.tipback {text-align:center; font-size:12px; color:#999; margin-top:20px;}

.ol {margin:0 0 0 30px; padding:10px 10px 0 0;}
.ol li {padding-bottom:10px;}